.styled {  
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #101510a1;
}

.styledScnd { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 1200px;
  max-height: auto;
  background-color: #fff;
}

.styledButton {
    position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 250ms linear;
}

.styledButton:hover {
    color: red;
  }